@tailwind base;

@tailwind components;

@tailwind utilities;

@responsive {
  .rotate-0 {
    transform: rotate(0deg);
  }
  .rotate-90 {
    transform: rotate(90deg);
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
  .rotate-270 {
    transform: rotate(270deg);
  }
  .rotate-45 {
    transform: rotate(45deg);
  }
  .-rotate-15 {
    transform: rotate(-15deg);
  }
}

@responsive {
  .text-shadow: 1px 1px 2px black;
}

@responsive {
  .linear-gradient: (to right top, #d5e7e6, #afdee6, #8cd2ee, #73c4f8, #73b1ff);
}
